#cart-toggle:checked ~ .overlay {
    display: block;
}

#menu-toggle:checked ~ .overlay {
    display: block;
}

.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list li a::before {
    content: "";
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.cart-icon {
    transition: all 0.5s ease-out;
}

.cart-icon:hover {
    color: brown;
    border-color: brown;
    transition: all 0.5s ease-in;
}

.quantity-handler {
    transition: all 0.2s ease-in;
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: tan;
    transition: all 0.2s ease-in;
}