@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,700;1,800&family=Roboto+Slab:wght@300;400;500;600;700&display=swap");


:root {
  --nav-bar: #d3ebcd;
  --info: #aedbce;
  --cards: #839aa8;
  --footer: #635666;
  --text: rgba(48, 47, 47, 0.979);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* header */

header {
  background-color: #A5CC82;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
  top: 0;
  z-index: 2;
}

.logo {
  height: 100%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: white;
  font-size: 14px;
}

.navbar-list li:first-child > a {
  color: var(black);
  font-weight: 600;
}

.cart-icon {
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: var(white);
  font-size: 14px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.login-icon {
  font-weight: 600;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.login a {
  color: rgba(143, 14, 14, 0.777);
}

.fa-cart-shopping {
  color: white;
}

.cart {
  background: #00467F;
  background: -webkit-linear-gradient(to right, rgb(165, 204, 130), #00467F); 
  background: linear-gradient(to bottom, #A5CC82, #00467F); 
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  border-left: 1px solid var(black);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--footer);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-title {
  color: var(--footer);
  font-weight: 600;
  font-size: 14px;
}

.item-bid {
  color: var(black);
  font-size: 12px;
  font-weight: 300;
}

.item-price {
  background: linear-gradient(to right, var(--info), var(--nav-bar));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--footer);
  font-weight: 400;
}

.up {
  border: 1px solid var(--footer);
}

.down {
  background-color: var(black);
  border: 1px solid var(--footer);
}

.item-quantity {
  color: var(black);
}

.divider {
  margin-top: 20px;
  border: 0.5px solid var(--footer);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cart-total p {
  color: white;
  font-weight: 700;
}

.cart-total span {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.btn-add {
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

/*Ocultar/mostrar carrito*/

#cart-toggle,
#menu-toggle,
.menu-label {
  display: none;
}

#cart-toggle:checked + .cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}


main {
  background: #00467F;
  background: -webkit-linear-gradient(to right, rgb(165, 204, 130), #00467F); 
  background: linear-gradient(to bottom, #A5CC82, #00467F); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100vw;
}


/* inicio */

#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 80px;
  margin-bottom: 80px;
}

.container-inicio {
    display: flex;
    max-width: 1200px;
    padding: 20px;
}

.info-inicio {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0px 20px;
  gap: 20px;
}

.info-inicio h1 {
    width: 100%;
    color: white;
    font-size: 60px;
    font-style: italic;
}

.info-inicio p {
    font-size: 30px;
    color: white;
    padding: 10px;
    text-align: justify;
}

.info-inicio a {
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: tan;
    width: 120px;
    padding: 5px;
    text-align: center;
}

.card-1 {
    background-image: url(img/National-Horse.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    width: 50%;
    height: 100%;
    box-shadow: rgba(27, 198, 156, 0.684) 5px 5px, rgba(33, 206, 206, 0.3) 10px 10px, rgba(31, 192, 162, 0.2) 15px 15px, rgba(35, 239, 188, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.card-1 h2 {
    margin: 20px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: right;
    z-index: 2;
}

/* ANIMACIONES  */

.card-1 {
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

.info-inicio {
  animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slide-up {
  from {
      transform: translateY(100px);
  } to {
      transform: translateY(0);
  }
}

/* fin inicio */

/* CABALLOS */

#caballos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#caballos div h2 {
  color: white;
  font-weight: 400;
  font-size: 40px;
  text-align: left;
}

.material-symbols-outlined {
  margin-left: -35px;
  margin-top: 20px;
  cursor: pointer;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1250px;
}

.card {
  width: 300px;
  height: 500px;
  margin: 40px;
  position: relative;
  box-shadow: 0 40px 60px -6px black;
}

.card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card img {
  width: 100%;
  height: 93%;
  object-fit: cover;
  display: block;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
  color: black;
}

.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}

.arrow {
  color: white;
  font-size: 20px;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

/* FIN CABALLOS */

#accesorios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 10%;
  max-width: 1300px;
}
.title-acces h2{
  color: white;
  margin-left: 30px;
  font-weight: 400;
  font-size: 40px;
}

.filter-nav {
  display: flex;
  gap: 40px;
}

.filter-nav li {
  margin-top: 20px;
}

.filter-nav li a {
  color: white;
}

.container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 360px;
  padding: 10px;
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  color: black;
  gap: 30px;
}

.container-info img {
  width: 100%;
}

.container-info ul {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -20px;
  gap: 20px;
}

.container-info ul li:hover {
  background: tan;
  border-radius: 3px;
  width: 20px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.container-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  width: 50%;
  height: 100%;
  line-height: 20px;
}

.container-descripcion h4 {
  font-size: 0.6em;
}

.container-descripcion h3 {
  font-size: 1em;
}

.container-descripcion p {
  font-size: 0.9em;
  text-align: justify;
  padding: 10px;
}

.buttom {
  display: flex;
  padding: 10px;
  width: 200px;
  margin: -10px;
  gap: 10px;
}

.add {
  width: 60%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: tan;
  font-weight: 500;
}

.like {
  width: 30%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: tan;
}

#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-us-title h3 {
  font-size: 40px;
  font-weight: 400;
}

.about-us-container {
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: 1200px;
}

.about-us-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  z-index: 2;
}

.about-us-info p {
  color: white;
  font-size: 18px;
  margin-top: 8%;
}

.about-us-img {
  width: 30%;
  margin-left: -100px;
}

.about-us-img img {
  width: 500px;
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
  height: 100%;
  max-width: 1200px;
}

.contact-us{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  border-bottom: 10%;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contact-us .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: tan;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.contact-us .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: tan;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: tan;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: brown;
}

/* FOOTER  */

footer{
  background: rgba(34, 34, 34, 0.979);
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  height: 300px;
  }
  
  footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  footer .row a:hover{
  color:#fff;
  }
  
  footer .row ul{
  width:100%;
  }
  
  footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
